---
import type { CardProps } from "../types";
import Tag from "./Tag.astro";

interface Props extends CardProps {}

const {
	title,
	description,
	image,
	tags = [],
	color,
	padded = false,
} = Astro.props;
---

<div
	class={`reveal bg-white shadow-xl rounded-2xl ${
		padded ? "" : "p-4"
	} text-center`}
>
	<div
		class={`rounded-xl ${padded ? "p-8 rounded-2xl" : ""}`}
		style={{ backgroundColor: padded ? color : "" }}
	>
		<img
			class="w-full object-cover bg-gray-200 rounded-xl shadow-lg"
			src={image}
			alt=""
		/>
	</div>

	{description || title || tags ? (
		<div class="px-4 mt-2">
			<h3 class="text-xl font-bold">{title}</h3>
			{description ? <p>{description}</p> : null}
			<div class="flex flex-wrap gap-1 mt-2 w-full justify-center">
				{tags.map((tag) => <Tag name={tag} {color} />)}
			</div>
		</div>
	) : null}
</div>
